@tailwind base;
@tailwind components;
@tailwind utilities;

/* For modern browsers */
::selection {
  background-color: #4dff4d0e; 
  color: #22c55e;          /* text color when selected */
}

/* For Firefox */
::-moz-selection {
  background-color: #4dff4d0e; 
  color: #22c55e;   
}
